body {
    background-color: #89b8ee;
    color: #030425;
    font-family: Arial, Helvetica;
    margin: 0px 200px 10px 200px;
}

table {
    background-color: #c2cbe9;
    border: 2px #042c5a solid;
    margin: 0 auto;
}

tbody tr:nth-child(even) td {
    background-color: #FFFFFF;
}

td {
    background-color: #e8eff8;
    border: 1px #042c5a solid;
}

figcaption {
    font-style: italic;
    font-size: 10pt;
}

.image1 {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px #042c5a solid;
}

.centered-text {
    text-align: center;
}

.pagehead {
    font-family: "Lobster";
}

.links {
    font-family: "Lobster";
    color: #042c5a
}