<!DOCTYPE html>
<html>
    <header class="centered-text">
        <div class="container">
            <img src="images/kangaroo-openclipart-org.png" width="150" alt="Blue Kangaroo Logo" class="logo">
            <h1 class="pagehead">Blue Kangaroo Enterprises</h1>
            <img src="images/kangaroo-openclipart-org.png" width="150" alt="Blue Kangaroo Logo" class="logo">
        </div>
        <nav>
            <a href="index.html" class="links">Home Page</a>
            ||
            <a href="contact.html" class="links">Contact Us</a>
            ||
            <a href="services.html" class="links">Services</a>
        </nav>
        <br>
    </header>
</html>