<!DOCTYPE html>
<html>
    <footer>
        <div class="footer-nav"></div>
        <div class="footer-grid">
            <div class="validate-grid">
                <a id="htmlVal" href="#" target="_blank">
                    <div class="button-blue">Validate HTML</div>
                </a>
                <a id="cssVal" href="#" target="_blank">
                    <div class="button-blue">Validate CSS</div>
                </a>
            </div>
            <div></div>
            <h3>Created by Bradley King 2021</h3>
        </div>
    </footer>
</html>